# Environments
.env
.env.local
.env.development.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
.pytest_cache/
*.db

# Node.js
node_modules/
.next/
dist/

# OS Header files
.DS_Store
Thumbs.db
